<!DOCTYPE html>
<html ng-app="directory">

<head>
    <title>Employee Directory</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table tr th {
            width: 12.5%
        }
    </style>
</head>

<body ng-controller="gblController">
    <div class="container">
        <div class="alert alert-success text-center">
            <h3>Welcome to My Employee Directory</h3>
            <h4>(AngularJS + NodeJS-Express + MongoDB)</h4>
            <h5>By: {{author}}</h5>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Department</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form novalidate ng-submit="formSubmit()">
                        <td><input type="text" class="form-control" ng-model="employee.name" ng-required="true" placeholder="Name"></td>
                        <td><input type="text" class="form-control" ng-model="employee.email" ng-required="true" placeholder="Email"></td>
                        <td>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="employee.dob"  ng-change="dateChanged()" is-open="popup2.opened" datepicker-options="dateOptions" placeholder="yyyy-mm-dd" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                        <td><input type="text" class="form-control" ng-model="employee.department" ng-required="true" placeholder="Department"></td>
                        <td><input type="text" class="form-control" ng-model="employee.gender" ng-required="true" placeholder="Gender"></td>
                        <td><input type="text" class="form-control" ng-model="employee.age" ng-required="true" placeholder="Age" readonly></td>
                        <td><button type="submit" class="btn btn-success" ng-disabled="editMode">Add Employee</button></td>
                        <td><button type="button" ng-click="updateEmployee()" class="btn btn-success" ng-disabled="!editMode">Update Employee</button></td>
                    </form>
                </tr>
                <tr ng-repeat="item in employeeList">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.dob | date : 'yyyy-MM-dd'}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.age}}</td>
                    <td><button class="btn btn-info btn-sm" ng-click="editInfo($index)">Edit</button></td>
                    <td><button class="btn btn-danger btn-sm" ng-click="deleteInfo($index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <!-- <br>
        <pre>{{ employee | json }}</pre> -->
    </div>

    <script>
        var app = angular.module('directory', ['ui.bootstrap']);
        app.controller('gblController', ['$scope', '$http', function($scope, $http){
            $scope.author = 'Raj Malakpet';
            $scope.editMode = false;
            $scope.dateOptions = {
                formatYear: 'yy',
                maxDate: new Date(),
                minDate: new Date(1971, 0, 01),
                startingDay: 1
            };

            $scope.open2 = function() {
                $scope.popup2.opened = true;
            };
            $scope.popup2 = {
                opened: false
            };

            $scope.master = { name: '', email: '', dob: null, department: '', gender: '', age: '' }
            $scope.employee = angular.copy($scope.master);

            $scope.dateChanged = function(){
                console.log('date changed ', $scope.employee.dob);
                var _cdate = $scope.employee.dob;
                if (typeof(_cdate) !== "undefined" && _cdate !== "" && _cdate !== null) {
                    var age = new Date().getFullYear() - $scope.employee.dob.getFullYear();
                    console.log('calculated age: ', age);
                    $scope.employee.age = age;
                }
            }

            $scope.employeeList = [];
            $scope.formSubmit = function(){
                console.log('form submitted');
                var error = false;
                for(var x in $scope.employee){
                    if($scope.employee[x] === ""){
                        error = true;
                    }
                }
                if (!error) {
                    var _obj = angular.copy($scope.employee);
                    $http.post('/addEmployee', _obj).then(function(response){
                        console.log('post addEmployee success: ', response)
                        if (response.data.status == 400) {
                            alert('Error occuried while saving: '+response.data.error);
                        } else {
                            $scope.init();                              //reload to show updated
                        }
                    }, function(error){
                        console.log('post addEmployee error: ', error)
                        alert('Error occuried while saving error code: '+JSON.stringify(error));
                    })
                    $scope.employee = angular.copy($scope.master);
                } else {
                    alert('Please fill the form fields.');
                }
            }
            $scope.updateEmployee = function(){
                console.log('updateEmployee clicked');
                var error = false;
                for(var x in $scope.employee){
                    if($scope.employee[x] === ""){
                        error = true;
                    }
                }
                if (!error) {
                    var _obj = angular.copy($scope.employee);
                    $http.post('/updateEmployee', _obj).then(function(response){
                        console.log('post updateEmployee success: ', response)
                        if (response.data.status == 400) {
                            alert('Error occuried while saving: '+response.data.error);
                        } else {
                            $scope.init();                              //reload to show updated
                        }
                    }, function(error){
                        console.log('post updateEmployee error: ', error)
                        alert('Error occuried while saving error code: '+JSON.stringify(error));
                    })
                    $scope.employee = angular.copy($scope.master);
                    $scope.editMode = false;                            //reset for add Employee
                } else {
                    alert('Please fill the form fields.');
                }
            }

            $scope.editInfo = function(_index){
                console.log('editInfo called: ', _index);
                $scope.editMode = true;                                 //enable update Employee button
                $scope.employee = $scope.employeeList[_index];
                $scope.employee.dob = new Date($scope.employeeList[_index].dob); //dob is date format, string wont work
            }

            //delete the selected employee via index
            $scope.deleteInfo = function(_index){
                console.log('deleteInfo called: ', _index);
                var _email = $scope.employeeList[_index].email;
                console.log('unique email-object/item to be deleted: ', _email);
                $http.post('/removeEmployee', {email: _email}).then(function(response){
                    console.log('post removeEmployee success: ', response)
                    if (response.data.status == 400) {
                        alert('Error occuried while deleting: '+response.data.error);
                    } else {
                        $scope.init();                              //reload to show updated
                        alert('Selected employee data is deleted from database');
                    }
                }, function(error){
                    console.log('post removeEmployee error: ', error)
                    alert('Error occuried while deleting error code: '+JSON.stringify(error));
                })
            }

            //use below method to load saved employees
            $scope.init = function(){
                $http.get('/getEmployees').then(function(response){
                    console.log('get getEmployees success: ', response);
                    if (response.data.status == 400) {
                        alert('Unable to load the data: '+response.data.error)
                    } else {
                        $scope.employeeList = response.data.data;
                    }
                }, function(error){
                    console.log('http get getEmloyees failed: ', error)
                    alert('Error occuried while laoding data: '+JSON.stringify(error))
                })
            }

            //run the init on load
            $scope.init();
        }]);
    </script>

</body>

</html>